<!DOCTYPE html>
<html>
<head>
    <title>学生列表</title>
</head>
<body>
    <h1>学生列表</h1>
    <table>
        {% for student in students %}
        <tr>
            <td><a href="{% url 'student_detail' student.student_id %}">{{ student.name }}</a></td>
            <td>{{ student.id }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.grade }}</td>
            <td>{{ student.class_name }}</td>
            <td>{{student.dorm_number}}</td>
            <td>{{student.bed_number}}</td>
        </tr>
        {% endfor %}
</table>
</body>
</html>